<h1> Select a Semester to View Grades and Enrollments </h1>
<% @semesters.each do |semester| %>
  <p><%= link_to "#{semester.session.capitalize} #{semester.year}", "/dashboard?session=#{semester.session}&year=#{semester.year}" %></p>
<% end %>

<% if @semester %>
  <h1><%= @semester.session.capitalize %> <%= @semester.year %></h1>
  <h2>Average Grades</h2>
  <% @courses.each do |course| %>
    <%= course.title %>: <%= course.average_grade %>
  <% end %>
  <h2>Total Enrolled</h2>
  <% @courses.each do |course| %>
    <%= course.title %>: <%= course.enrollment_count %>
  <% end %>
<% end %>
